@model TVK.Web.ViewModels.ContactInformmationModel

@{
    ViewData["Title"] = "Контактная информация";
}

<h1>Контактная информация</h1>

<form asp-action="ContactInformmationuser" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="PhoneOrEmail">Введите контактную почту или сотовй номер</label><br />
            <input type="text" asp-for="PhoneOrEmail" />
            <span asp-validation-for="PhoneOrEmail" />
        </div>

        <div>
            <label asp-for="Comment">Введите комментарий</label><br />
            <input type="text" asp-for="Comment" />
            <span asp-validation-for="Comment" />
        </div>

        <div>
            <input type="submit" value="Запомнить" />
        </div>
    </div>
</form>

