@model TVK.Web.ViewModels.ContactInformmationModel

@{
    ViewData["Title"] = "Контактная информация";
}


<div id="login-form">
    <h1>Контактная информация</h1>

    <fieldset>
        <form asp-action="ContactInformmationuser" asp-controller="Account" asp-anti-forgery="true">
            <input type="text" asp-for="PhoneOrEmail" required value="Контактные данные" onBlur="if(this.value=='')this.value='Контактные данные'" onFocus="if(this.value=='Контактные данные')this.value='' ">
            <input type="text" asp-for="Comment" required value="Комментарий" onBlur="if(this.value=='')this.value='Комментарий'" onFocus="if(this.value=='Комментарий')this.value='' ">
            <input type="submit" value="Запомнить">
        </form>
    </fieldset>

</div>

