@model TVK.Web.ViewModels.LoginModel

@{
    ViewData["Title"] = "Авторизация";
}

<div id="login-form">
    <h1>Авторизация на сайте</h1>

    <fieldset>
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <input type="text" asp-for="Nameusers" required value="Никнейм" onBlur="if(this.value=='')this.value='Никнейм'" onFocus="if(this.value=='Никнейм')this.value='' ">
            <input type="email" asp-for="Email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' ">
            <input type="password" asp-for="Password" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
            <input type="submit" value="Войти">
            <footer class="clearfix">
                <p><span class="info">?</span><a asp-controller="Account" asp-action="Register">Регистрация</a></p>
            </footer>
        </form>
    </fieldset>

</div>

