@model TVK.Web.ViewModels.PersonalInformationUserModel

@{
    ViewData["Title"] = "Персональная информация";
}

<h1>Персональная информация</h1>

<div id="login-form">
    <h1>Персональная информация</h1>

    <fieldset>
        <form asp-action="PersonalInfromationuser" asp-controller="Account" asp-anti-forgery="true">
            <input type="text" asp-for="Gender" required value="Ваш пол" onBlur="if(this.value=='')this.value='Ваш пол'" onFocus="if(this.value=='Ваш пол')this.value='' ">
            <input type="text" asp-for="Age" required value="Ваш возраст" onBlur="if(this.value=='')this.value='Ваш возраст'" onFocus="if(this.value=='Ваш возраст')this.value='' ">
            <input type="text" asp-for="Lastname" required value="Ваша фамилия" onBlur="if(this.value=='')this.value='Ваша фамилия'" onFocus="if(this.value=='Ваша фамилия')this.value='' ">
            <input type="text" asp-for="Firstname" required value="Ваше имя" onBlur="if(this.value=='')this.value='Ваше имя'" onFocus="if(this.value=='Ваше имя')this.value='' ">
            <input type="text" asp-for="Secondname" required value="Ваше отчество" onBlur="if(this.value=='')this.value='Ваше отчество'" onFocus="if(this.value=='Ваше отчество')this.value='' ">
            <input type="submit" value="Запомнить">
        </form>
    </fieldset>

</div>