@model TVK.Web.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}

<div id="login-form">
    <h1>Регистрация на сайте</h1>

    <fieldset>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <input type="text" asp-for="Nameusers" required value="Никнейм" onBlur="if(this.value=='')this.value='Никнейм'" onFocus="if(this.value=='Никнейм')this.value='' ">
            <input type="email" asp-for="Email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' ">
            <input type="password" asp-for="Password" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
            <input type="password" asp-for="ConfirmPassword" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
            <input type="submit" value="Регистрация">
        </form>
    </fieldset>

</div>

