@model TVK.Web.ViewModels.Interval
@{
    ViewData["Title"] = "Графики";
    testSQLContext db = new testSQLContext();
    var PC_address = db.Pc.ToList();
}


<div id="chart-form">
    <h1>Построение Графиков</h1>
    <fieldset>
        <form asp-action="LineCommandData" asp-controller="Charts" asp-anti-forgery="true" method="get">
            <input type="text" asp-for="StartDate" required value="Начало dd:mm:yyyy" onBlur="if(this.value=='')this.value='Начало dd:mm:yyyy'" onFocus="if(this.value=='Начало dd:mm:yyyy')this.value='' ">
            <input type="text" asp-for="FinishDate" required value="Конец dd:mm:yyyy" onBlur="if(this.value=='')this.value='Конец dd:mm:yyyy'" onFocus="if(this.value=='Конец dd:mm:yyyy')this.value='' ">
            <input type="submit" value="Построить график команд по дате">
            <footer class="clearfix">
                <p><a asp-controller="Charts" asp-action="BarUser">График пользователей</a></p>
                <p><a asp-controller="Charts" asp-action="BarUserRoles">График пользователей по ролям</a></p>
                <p><a asp-controller="Charts" asp-action="PieCommand">Часто используемые команды</a></p>
            </footer>
        </form>
        <form asp-action="LineMonitorSystem_loadpercentage" asp-controller="Charts" asp-anti-forgery="true" method="get">
            <label>Address:</label>
            <select asp-for="IP_Address_loadpercentage">
                @foreach (var pc in PC_address)
                    {
                <option title="@pc.NamePc">@pc.IpAddress</option>
                    }
            </select>
            <input type="submit" value="Построить график нагрузки процессора">
        </form>
        <form asp-action="LineMonitorSystem_freephycisal" asp-controller="Charts" asp-anti-forgery="true" method="get">
            <label>Address:</label>
            <select asp-for="IP_Address_freepsycisal">
                @foreach (var pc in PC_address)
                    {
                <option title="@pc.NamePc">@pc.IpAddress</option>
                    }
            </select>
            <input type="submit" value="Построить график свободной оперативной памяти">
        </form>

    </fieldset>
</div>

<div id="chart-form" >
    <h1>Построение Отчетов</h1>
    <fieldset>
        <form asp-action="CreatePDF" asp-controller="DocumentHistoryComand" asp-anti-forgery="true" method="get">
            <input type="text" asp-for="StartDate" required value="Начало dd:mm:yyyy" onBlur="if(this.value=='')this.value='Начало dd:mm:yyyy'" onFocus="if(this.value=='Начало dd:mm:yyyy')this.value='' ">
            <input type="text" asp-for="FinishDate" required value="Конец dd:mm:yyyy" onBlur="if(this.value=='')this.value='Конец dd:mm:yyyy'" onFocus="if(this.value=='Конец dd:mm:yyyy')this.value='' ">
            <input type="submit" value="Построить историю команд">
            <footer class="clearfix">
                <p><a asp-controller="Document" asp-action="CreatePDF">Список пользователей</a></p>
                <p><a asp-controller="DocumentComand" asp-action="CreatePDF">Список команд</a></p>
                <p><a asp-controller="DocumentSysteminfo" asp-action="CreatePDF">Список компьютеров и информации о них</a></p>
                <p><a asp-controller="DocumentPCCommand" asp-action="CreatePDF">Компьютеры и команды выполненные на нем</a></p>
                <p><a asp-controller="DocumentLeadTimeComand" asp-action="CreatePDF">Среднее время выполнения команд</a></p>
                <p><a asp-controller="DocumentMonitorSystem" asp-action="CreatePDF">Мониториг компьютеров</a></p>
            </footer>
        </form>
    </fieldset>
</div>