
@{
    ViewData["Title"] = "Запись экрана";
    var address = Model?.ip_PC ?? "192.168.0.30:5000";
    var command = Model?.Command ?? "start";
    testSQLContext db = new testSQLContext();
    var PC_address = db.Pc.ToList();
}
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <div class="text-center">

        <div class="text-center">
            <h3 class="display-4">IP адреса компьютеров</h3>
            <table class="mytable">
                <tbody>
                    @foreach (var pc in PC_address)
                    {
                        <tr><td style="padding-right:20px">@pc.IpAddress </td><td>@pc.NamePc</td></tr>
                    }
                </tbody>
            </table>
            <br>
        </div>


        <div id="form">
            <h1>Просмотр удаленного рабочего стола</h1>
            <fieldset>
                <form method="post" action="screenrecorder">

                    <label for="address">Address:</label>
                    <select name="address" id="address">
                        @foreach (var pc in PC_address)
                        {
                            <option title="@pc.NamePc">@pc.IpAddress</option>
                        }
                    </select>
                    <label for="command">Command: </label>
                    <select name="command" id="command">
                        <option>start</option>
                        <option>stop</option>
                    </select>

                    <input type="button" value="Run" id="click" />
                    <br />
                </form>
            </fieldset>
        </div>


    </div>

    <img src='~/white.png' id="image" style="max-width: 100%;padding: 15px 0px 60px 0px;" />


    <script type="text/javascript">
        var total_pics_num = 100000; // колличество изображений
        var interval = 1500;    // задержка между изображениями
        var time_out = 1500;       // задержка смены изображений
        var i = 0;
        var timeout;
        var flag = false;

        function fade_to_next() {
            i = i + 1;
            var image_next = 'recived/screenshot-' + i + '.jpeg';
            var ava = document.getElementById('image');
            ava.setAttribute('src', image_next);
            timeout = setTimeout("fade_to_next()", time_out);
        }

        function run() {
            var data = new FormData();
            data.append("Command", document.getElementById("command").value);
            data.append("Address", document.getElementById("address").value);
            fetch(window.location.href, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    //'Content-Type': 'application/json'
                },
                body: data
            });

            if (document.getElementById("command").value === "stop" || flag === true) {
                clearTimeout(timeout);
                flag = false;
            } else {
                timeout = setTimeout(fade_to_next, interval);
                flag = true;

            }
        }

        document.getElementById("click").addEventListener('click', run);

    </script>
